

body{
    width: 100%;
    min-width: 1280px;
    padding: 0;
    background-color: #F6F6F6;
    gap: 20px;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    box-sizing: border-box;
}

.header{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    background: #FFFFFF;
    border-radius: 0;
}

.header_wrapper{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    max-width: 1920px;
}



.header_menu{
    display: flex;
    width: fit-content;
    padding-left: 0;
    gap: 20px;
}
.menu__item{
    border: none;
    width: fit-content;
    font-family: 'Roboto',sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 16px;
    color: #A0A0A0;
    transition: color 0.5s;
    text-decoration: none;
}

.menu__item-selected{
    background: linear-gradient(90.33deg, #FF563B -0.13%, #FFBC47 99.63%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

.menu__item-unselected:hover{
    color: #FFA048;
    transition: color 0.5s;
    cursor: pointer;
}



.header_entrance{
    display: flex;
    gap: 20px;
    width: fit-content;
    align-items: center;

}

.header_entrance__title{
    width: fit-content;
    height: fit-content;
    font-family: 'Roboto',sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #A0A0A0;
    transition: color 0.5s;
}

.header_entrance__title:hover{
    color: #FFA048;
    transition: color 0.5s;
    cursor: pointer;
}
.main{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1920px;
    min-width: 1280px;
    min-height: 1080px;
    padding: 0 30px 0 30px;
    box-sizing: border-box;
}
.main_filters{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    gap: 20px;
    font-family: 'Roboto', Helvetica, sans-serif;
    width: 100%;
    box-sizing: border-box;
}

.filters__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    align-items: center;
}

.filters__header-title{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;

    color: #24BB45;
}

.filters__header-change{
    height: fit-content;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #D9D9D9;
    transition: color 0.5s;
    cursor: pointer;
}

.filters__header-change:hover{
    color: #A0A0A0;
    transition: color 0.5s;
    cursor: pointer;
}


.filters__line{
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: flex-start;
}

.categories{
    display: flex;
    flex-direction: row;
    width: 50%;
    gap: 10px;
    align-items: center;
    color: #252525;
}

.categories__title{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}

.districts{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    gap: 10px;
    color: #252525;
}

.districts__title{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}
.time{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    gap: 10px;
    color: #252525;
}

.time__title{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}

.sum{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    gap: 10px;
    color: #252525;
}

.sum__title{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}


.tag{
    display: flex;
    padding: 8px 14px;
    border-radius: 8px;
    background: #EEF9FF;
    color:#609DF9;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    height: fit-content;
    transition: background 0.5s, color 0.5s;
    box-sizing: border-box;
    text-decoration: none;
    width: fit-content;
}

.tag:hover{
    background: #d4e9fa;
    color: #609DF9;
    transition: background 0.5s, color 0.5s;
    cursor: pointer;
}

.tag-plus{
    background: #F6F6F6;
    color: #A0A0A0;
    width: 35px;
    height: 35px;
    padding: 8px 14px;
    margin: 0;
}

.tag-plus:hover{
    background: #d9d9d9;
    color: #A0A0A0;
}

.tag-dash{
    width: fit-content;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #A0A0A0;
}

.main_map{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    gap: 20px;
    font-family: 'Roboto', Helvetica, sans-serif;
    width: 100%;
    height: 695px;
    box-sizing: border-box;
}

.map__header-title{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #24BB45;

}

.map{
    display: flex;
    width: 100%;
    max-width: 1340px;
    margin: auto;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}
.map-active{
    opacity: 70%;
    transition: opacity 0.5s;
}
.map-active:hover{
    opacity: 100%;
    transition: opacity 0.5s;
    cursor: pointer;
}


.text-map-active{
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;



}
.text-map-inactive{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #D9D9D9;
    cursor: default;

}
.map-sum{
    display: flex;
    flex-direction: column;
}
.map-numbers{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #252525;
}
.CAO{
    position: absolute;
    width: 119px;
    height: 85.92px;
    left: 629px;
    top: 261px;
    align-items: flex-start;
    z-index: 2;
}
.CAO-text{
    position: absolute;
    width: 32px;
    height: 17px;
    left: 50px;
    top: 34px;
}
.CAO-sum{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0px;
    gap: 2px;

    position: absolute;
    width: 293.87px;
    height: 185.87px;
    left: 729px;
    top: 63px;

}
.UZAO{
    position: absolute;
    width: 94px;
    height: 214.63px;
    left: 564px;
    top: 363px;
    align-items: flex-start;
    z-index: 2;
}
.UZAO-text{
    position: absolute;
    width: 41px;
    height: 16px;
    left: 25px;
    top: 73px;
}
.UZAO-sum{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 2px;

    position: absolute;
    width: 230.05px;
    height: 72.05px;
    left: 347px;
    top: 486px;

}
.ZelAO{
    position: absolute;
    width: 69px;
    height: 69.86px;
    left: 392px;
    top: 70px;
    align-items: flex-start;
    z-index: 2;
}
.ZelAO-text{
    position: absolute;
    width: 46px;
    height: 17px;
    left: 11px;
    top: 20px;
}

.ZelAO-sum{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 2px;
    position: absolute;
    width: 221.58px;
    height: 62.58px;
    left: 166px;
    top: 30px;

}

.SAO{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    isolation: isolate;

    position: absolute;
    width: 186px;
    height: 233.63px;
    left: 504px;
    top: 16px;
}

.SAO-text{
    position: absolute;
    width: 28px;
    height: 16px;
    left: 123px;
    top: 133px;
}

.SVAO{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    isolation: isolate;

    position: absolute;
    width: 138px;
    height: 183.52px;
    left: 660px;
    top: 31px;
}

.SVAO-text{
    position: absolute;
    width: 37px;
    height: 16px;
    left: 49px;
    top: 96px;
}

.VAO{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    isolation: isolate;

    position: absolute;
    width: 195px;
    height: 199.44px;
    left: 754px;
    top: 162px;
}

.VAO-text{
    position: absolute;
    width: 28px;
    height: 16px;
    left: 67px;
    top: 83px;
}

.UVAO{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    isolation: isolate;

    position: absolute;
    width: 179px;
    height: 159.72px;
    left: 753px;
    top: 293px;
}

.UVAO-text{
    position: absolute;
    width: 41px;
    height: 16px;
    left: 50px;
    top: 80px;
}

.UAO{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    isolation: isolate;

    position: absolute;
    width: 141px;
    height: 169.01px;
    left: 663px;
    top: 362px;

}

.UAO-text{
    position: absolute;
    width: 32px;
    height: 16px;
    left: 31px;
    top: 107px;
}

.ZAO{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    isolation: isolate;

    position: absolute;
    width: 199px;
    height: 222.59px;
    left: 416px;
    top: 287px;

}

.ZAO-text{
    position: absolute;
    width: 28px;
    height: 16px;
    left: calc(50% - 28px/2 + 22.5px);
    top: calc(50% - 16px/2 - 39.29px);

}

.SZAO{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    isolation: isolate;

    position: absolute;
    width: 131px;
    height: 196.97px;
    left: 492px;
    top: 96px;



}

.SZAO-text{
    position: absolute;
    width: 37px;
    height: 16px;
    left: 45px;
    top: 102px;


}

.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    gap: 40px;
    background: linear-gradient(94.43deg, rgba(96, 157, 249, 0.8) 0.65%, rgba(6, 209, 254, 0.8) 100%);
    border-radius: 0;
    padding: 80px 40px;
    box-sizing: border-box;
    align-items: center;


}

.footer__first-line{
    width: 100%;
    max-width: 1920px;
    padding: 0px 50px;
    height: fit-content;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;

}

.footer-column{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: fit-content;
    height: fit-content;
}
.footer-logo{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: fit-content;
}
.footer-title{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.footer-about{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.9);
    width: 301px;
    height: 160px;

}

.footer-menu-item{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.8);
    transition: color 0.5s;
    cursor: pointer;
    text-decoration: none;
}

.footer-menu-item:hover{
    color: #FFFFFF;
    transition: color 0.5s;
}

.footer__second-line{
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.yandex-map{
    width: 500px;
    height: 300px;
    background-color: #DEDEDE;
    border-radius: 10px;
}

.main_statistics{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 10px;
    gap: 20px;
    font-family: 'Roboto', Helvetica, sans-serif;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
}

.statistics__header-title{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #24BB45;
}

.statistics__header-buttons{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

.statistics-button-selected{
    color: #FFFFFF;
    background: #24BB45;
    text-decoration: none;
}
.statistics-button-selected:hover{
    color: #FFFFFF;
    background: #24BB45;
}

.statistics-button-unselected{
    color: #24BB45;
    border: 1px solid #D9D9D9;
    background: #FFFFFF;
    transition: background 0.5s;
    text-decoration: none;
}
.statistics-button-unselected:hover{
    color: #24BB45;
    border: 1px solid #D9D9D9;
    background: #F7F7F7;
    transition: background 0.5s;
}
.statistics__image{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
}

.statistics__image-svg{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 20px;

    width: 1340px;
    height: 622px;
}

.main_files{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 10px;
    gap: 40px;
    font-family: 'Roboto', Helvetica, sans-serif;
    height: fit-content;
    box-sizing: border-box;
    padding: 40px 20px;
    justify-content: center;
    align-items: center;
}

.files__left-column{
    display: flex;
    flex-direction: column;
    width: 670px;
    gap: 40px;
}

.files__text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.files__header-title{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #24BB45;
}

.files__subtitle{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;

    color: #686868;
}

.files__buttons {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.download{
    background: #24BB45;
    color: #FFFFFF;
    transition: background 0.5s;
}

.download:hover{
    background: #44c964;
    color: #FFFFFF;
    transition: background 0.5s;
}

.show-file{
    color: #A0A0A0;
    border: 1px solid #D9D9D9;
    background: #FFFFFF;
    transition: background 0.5s;
}

.show-file:hover{
    color: #A0A0A0;
    border: 1px solid #D9D9D9;
    background: #F7F7F7;
    transition: background 0.5s;
}

.files__right-column{
    width: 200px;
    height: 200px;
}


